.vscode
.clion
.vs
.pyc
__pycache__

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build_jobs_*

/build
/.lock
/test/third_party/install
/test/third_party/packages
/test/standalone-upb/third_party/install
/test/standalone-upb/third_party/packages
